MONGO_USERNAME=mongouser
MONGO_PASSWORD=mongopass
MONGO_HOST=hostname.mongodb.net
MONGO_DBNAME=mongodbname
MONGO_OPTIONS=?retryWrites=true&w=majority&appName=appname
JWT_SECRET=jwt_secret_token
ADMIN_USERNAME=user
ADMIN_PASSWORD=password
MONGO_COLLECTION=mongocollection